/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/********************************end of preset CSS****************************************/

body {
  margin: 0;
  font-family: Helvetica, sans-serif, nunito;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
background-color: #8F8F8F;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
/*  position: fixed;*/
  width: 100%;
  z-index: 3;
}
header img{
    margin-left: 20px;
    margin-top: 5px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #8F8F8F;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
 
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

body{
    background: url('images/bg.jpg') no-repeat center center fixed;
    max-width: 100%;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}
/* homepage banner*/
.main .image img{
    max-width: 100%;
        margin-top: 100px;
}
/*aboutpage banner*/
.main .img img{
  max-width: 100%;
      margin-top: 100px;
}
.main .intro h2{
    text-align: center;
}
.main p{
    width: 450px;
    margin-left: 20px;
    text-align: left;
}
footer, .push{
    display:flex;
    background-color: #8F8F8F;
      position: absolute;
  width: 100%;
  height: 3.5rem;
    margin-top: 122px;
}
footer .fix{
    width: 20%;
    margin-top: 20px;
}
footer .links{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 5px;
    padding-left: 80px;
    max-width:100%;
}
footer .links .site{
  width: 115%;
}
footer .links a{
    text-decoration: none;
    color: #000;
}
footer .links a:hover{
    color:#4d4f5a;
}
footer .socialmedia{
 padding-left: 120px;
    margin-top: 20px;
}
footer .socialmedia .fan{
margin-right: 20px;
}
footer .socialbtns{
  width: 46%;
  margin-right: 10px;
  text-align: left;
}
/*****************************work.html***************************************/

/* .work a img{
    max-width: 100%;
    height:auto;
    margin-bottom: 10px;
}
.work a:hover{
  opacity:50%;
} */
.footer{
    margin-top: -2px;
}

/**********************************contact*****************************/
* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.brand span {
  color: #ffffff;
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
  background: #BBBAC6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
  background: #BBBAC6;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #3A4454;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: #000;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin-left: 50px;
  /* padding: 5px; */
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	max-width: 40px;
    height: 28px;
	color: #000;
	/* background-color: #FFF; */
	/* border: 1px solid #000; */
	padding-top: 12px;
}

.socialbtns .fa:hover {
	color: #ffffff;
	/* background-color: #000;
	border: 1px solid #000; */
}

/*************************************tablet***********************************/
@media screen and (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
 /************************end of navigation*****************/   
    
    .main img{
        margin-bottom: 30px;
    } 
    .main .intro p{
        margin-left: 180px;
    }
    footer p{
      margin-left: 10px;
    } 
    
    footer .links{
        margin-left: 100px;
    }

    footer .links .inks{
      font-size: 10px;
      margin-left: 10px;
      margin-top: 10px;
    }
    footer .socialmedia{
        margin-left: 130px;
    }
    .work img{
      width:100%;
    }
    footer .socialbtns{
      margin-left: 120px;
    }
}

/***********************desktop*******************************/
@media screen and (min-width:1024px){
    
    .main .image{
        margin-left: 160px;
    }
    .main .intro p{
      width:80%;
    }
    footer .links{
        display: inline-block;
        margin-top: 20px;
        margin-left: 200px;
    }
    
    footer .links .ink{
        margin-left: 50px;
    }
    footer .links a{
      margin-left: 40px;;
    }
    footer .links{
      width: 612px;
  }
.main #banner{
  margin-left: 0px;
}
.main #banner2{
  margin-left: 350px;
}
.main .intro .temp{
  margin-left: 530px;
}
.work{
  display:grid;
}
.work a img{
width:100%;
}

a, a:hover {
	text-decoration: none;
}
footer .socialbtns{
  margin-left: 130px;
}
.socialbtns, .socialbtns ul, .socialbtns li {
  margin-left: 80px;
  /* padding: 5px; */
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	max-width: 40px;
    height: 28px;
	color: #000;
	/* background-color: #FFF; */
	/* border: 1px solid #000; */
	padding-top: 12px;
	border-radius: 22px;
}

.socialbtns .fa:hover {
	color: #ffffff;
	/* background-color: #000;
	border: 1px solid #000; */
}




}

