#myvideo{
    position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  z-index: -99;
}
header {
  display: flex;
}
header nav{
  width: 100%;
}
header nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
}
header nav ul a {
  margin-right: 50px;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  font-size: 1.5em;
  color: white;
  font-family: 'Source Code Pro', monospace;
}
header .armenia .logo{
  width: 80px;
  margin-left: 200px;
  margin-top: 10px;
}

.title{
  font-size: 5em;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  margin-top: 200px;
  color: #fff;
}
.container .about{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-size: 5em;
  color:#fff;
  font-family: 'Source Code Pro', monospace;
}

.container .info{
  width: 80%;
  font-size: 1.5em;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
  margin-left: 150px;
  text-align: center;
  
}

.main{
  text-align: center;
}

.main .containerone .titleone{
  font-size: 2em;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}
.main .containerone p{
  font-size: 16px;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}
.main .containertwo .titletwo{
  font-size: 2em;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}
.main .containertwo p{
  font-size: 16px;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}
.main .containerthree .titlethree{
  font-size: 2em;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}
.main .containerthree p{
  font-size: 16px;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}